<div class="mt-4">
    <h3>Add student</h3>
    <form class="mt-4" method="post" action="/students/store">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name = "name">
        </div>
        <div class="form-group">
            <label for="Class">Class</label>
            <input type="text" class="form-control" id="Class" name = "Class">
        </div>
        <div class="form-group">
            <label for="average">Average</label>
            <input type="text" class="form-control" id="average" name = "average">
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="text" class="form-control" id="image" name = "image">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>