<div class="mt-4">
    <form method="post" action="">
    <div class="form-group">
        <label for="exampleInputEmail1">Search</label>
        <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter">
    </div>
    <div class="gender-group">
        <label for="exampleInputEmail1">Search</label>
        <select name="gender" class="gender-control" id="exampleInputEmail1">
            <option value="">--Pick gender--</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Find</button>
    </form>
</div>